In [6]:
import spacy 
import nltk
import pyresparser 

nltk.download('stopwords')
nlp = spacy.load('en_core_web_sm')

[nltk_data] Downloading package stopwords to /home/umair/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [13]:
def parse_resume(resume):
    return pyresparser.ResumeParser(resume).get_extracted_data()

res_dict = parse_resume('./Downloads/CVs/CVHariskhurshid.pdf')

type(res_dict)

dict

In [15]:
res_dict.keys()

dict_keys(['name', 'email', 'mobile_number', 'skills', 'college_name', 'degree', 'designation', 'experience', 'company_names', 'no_of_pages', 'total_experience'])

In [18]:
type(res_dict.items())

dict_items

In [23]:
import numpy as np 

np.__version__

'1.17.2'

In [35]:
df = pd.DataFrame({key:pd.Series(value) for key, value in res_dict.items()})

In [36]:
df.head()

,name,email,mobile_number,skills,college_name,degree,designation,experience,company_names,no_of_pages,total_experience
0,HARIS KHURSHID,halay156@gmail.com,9233152696,Analyze,NaN,Bachelors,Internee Developer,Internee Developer,NaN,1.0,1.17
1,NaN,NaN,NaN,Mysql,NaN,NaN,NaN,"Quipsol | Wah Cantt, Punjab",NaN,NaN,NaN
2,NaN,NaN,NaN,Database,NaN,NaN,NaN,August 2018 - August 2019,NaN,NaN,NaN
3,NaN,NaN,NaN,Analytical,NaN,NaN,NaN,November 2018 - January 2019,NaN,NaN,NaN
4,NaN,NaN,NaN,Php,NaN,NaN,NaN,July 2019,NaN,NaN,NaN

In [37]:
import os 

df.to_csv(os.getcwd() + "/cv.csv")

In [38]:
pwd

'/home/umair'